html, body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ccffcc;
}
h1, h2, ol {
  color:#136e13;
  font-family: Lucida Handwriting;
}
p {
  color:#093809;
}
