html, body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ccffcc;
  margin-left: 40px;
  margin-right: 40px;
}
h1, h2, ol {
  color:#136e13;
}
p {
  color:#093809;
}
h1 {
  font-size: 40px;
  margin-top: 50px;
}
h2 {
  margin-top: 100px;
}
a {
  text-decoration: ;
  color:#093809 ;
}
